.api-form-container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  background: #1e1e1e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api-form {
  width: 100%;
  padding: 15px;
  background: #252525;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.api-selector-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.model-name {
  flex-grow: 1;
  font-weight: bold;
  color: #fff;
}

.model-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
  font-size: .9rem;
  transition: background-color 0.3s;
}

.model-select:hover {
  background-color: #444;
}

.system-content-container,
.prompt-container {
  position: relative;
  width: 100%;
  background-color: #0c0c0c8e; /* Arka plan rengi SYSTEM ile aynı */
  border: 1px solid #181818c5; /* Kenarlık rengi SYSTEM ile aynı */
  border-radius: 5px;
  padding-top: 35px; /* label için yer açmak için padding-top değerini artırın */
  overflow-y: auto;
}

.system-content-label,
.prompt-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: transparent; /* label arka planını şeffaf yap */
  font-size: 0.9rem;
  box-sizing: border-box;
}

.system-content-input,
.prompt-input {
  width: 100%;
  background-color: transparent;
  color: #90B8F8;
  padding: 3px 10px;
  padding-right: 50px; /* Gönder ikonu için sağda boşluk bırak */
  resize: none; /* Elle boyutlandırma özelliğini kapat */
  box-sizing: border-box;
  min-height: 70px; /* Başlangıç yüksekliği */
  max-height: 255px;
  overflow-y: auto; /* İçerik uzadıkça otomatik olarak boyutunun artması */
  border: none;
  outline: none;
}

.file-parser {
  margin-left: 10px;
}

.file-upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: white;
  padding: 8px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-upload-btn:hover {
  background-color: #666;
}




.send-button {
  position: absolute;
  right: 10px; /* Sağa yasla */
  top: 50%; /* Orta konum */
  transform: translateY(-50%); /* Dikey ortala */
  -webkit-transform: translateY(-50%);
  width: 36px; /* Butonun genişliğini ayarla */
  height: 36px; /* Butonun yüksekliğini ayarla */
  border: none; /* Kenarlıkları kaldır */
  background-color: #555; /* Arka plan rengi */
  color: white; /* İkon rengi */
  border-radius: 4px; /* Kenar yuvarlaklığı */
  cursor: pointer; /* İmleç tipi */
  outline: none; /* Odaklanma çerçevesini kaldır */
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.send-button:hover,
.send-button:focus {
  background-color: #666; /* Üzerine gelince arka plan rengi */
  
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow: hidden;
  max-height: 300px;
  overflow-y: auto;
  margin-top: .5rem;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
}

.dropdown-item:hover {
  background-color: #555;
  border-radius: 8px;
  margin: 5px;
}

.menuitem-content {
  display: flex;
  flex-direction: column;
}

.menuitem-description {
  font-size: 0.8em;
  color: #aaa;
}

.dropdown-separator {
  height: 1px;
  background-color: #555;
  margin: 4px 0;
}
