/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #121212; /* Dark background for the whole app */
  color: #ffffff; /* Light text for contrast */
}

.app {
  background-color: #121212;
  color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.app-header {
  width: 100%;
  background-color: transparent;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-main {
  display: flex;
  width: calc(100% - 40px); /* Account for padding */
  max-width: 1200px; /* Or any maximum width you prefer */
  margin: auto;
  padding: 1rem;
  gap: 20px; /* Space between form and response */
  justify-content: space-between; /* Distribute children evenly */
}

.api-form-container{
  flex: 1;
  margin: 0;
  padding: 15px;
  background: #252525;
  border-radius: 8px;
  overflow: hidden; /* Prevents children from overflowing */
  box-sizing: border-box;
  margin: 2px;
  height: calc(80vh - 10px);
  max-height: 900px;
}

.app-response-container {
  flex: 1;
  margin: 0;
  padding: 15px;
  background: #252525;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 2px;
  /* Make prompt-input 50% of the page height by default */
  height: calc(80vh - 10px);
  /* Set max-height to prevent it from growing too large */
  max-height: 900px;
  /* Set overflow to auto to allow it to scroll if necessary */
  overflow: auto;
}

.error {
  color: #ff5555;
}

.response {
  color: #8ec07c;
}

/* Custom scrollbar styles */
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
  
}

*::-webkit-scrollbar-track {
  background: #333; /* Color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
  border-radius: 20px; /* Roundness of the scrollbar thumb */
  border: 3px solid #333; /* Creates padding around the scrollbar thumb */

}


/* Works on Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #555 #333; /* thumb and track color */
}
